/* header.component.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0.8rem;
  background-color: transparent;
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 2.188rem;
}

.icons button {
  border: none;
  cursor: pointer;
  margin-left: 1.25rem;
}

.icons button img {
  width: 2.3rem;
  height: 2.3rem;
}

.search-box {
  display: flex;
  flex-direction: row;
  border: none;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box input {
  outline: none;
  padding: 0.3rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  width: 16rem;
  border: none;
  background: #ffff;
  margin-left: 1.563rem;
}

.search-icon i {
  background-color: #00BECD;
  color: white;
  padding: 7px 7px;
  border: 1px solid;
  border-radius: 0.3rem;
}

.account-user-avatar img {
  border-radius: 50%;
}

.custom-mini-fab {
  width: 38px; /* Adjust as needed */
  height: 38px; /* Adjust as needed */
  background-color: #fff;
}

.custom-mini-fab-search {
  background-color: #00BECD;
  color: white;
  padding: 7px 7px;
  border: 3px solid;
  border-radius: 0.8rem;
  right: 2.625rem;
}

.small-icon {
  font-size: 1.25rem; /* Adjust as needed */
}

.rounded-circle {
  background-color: transparent;
}

.divider{
  align-self: stretch;
  background-color: currentcolor;
  min-height: 1em;
  opacity: .1;
  width: 1px;
  --bs-bg-opacity: black;
  margin-left: 1.563rem;
}
