/* header.component.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  width: 100%;
}

.search-box input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icons button img {
  width: 24px;
  height: 24px;
}

.search-icon i {
  color: white;
}

.search-box {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.search-box input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-icon i {
  background-color: #00BECD;
  color: white;
  padding: 7px 7px;
  border: 1px solid;
  border-radius: 5px;
}

.account-user-avatar img {
  border-radius: 50%;
}