.container {
    height: 100%;
    display: flex;
}
.sidebar {
    width: 15rem;
    height: 100%;
    background-color: #fff;
    color: #000;
}

.overlay-width {
    opacity: 0.4;
}

.setting {
    position: fixed;
    width: 15rem;
    height: 100%;
    background-color: white;
    color: #000;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 99;
}

.landingpage{
    width: 85%;
}