<nav class="sidebar">
  <ul class="list-unstyled">
    <li>
      <a (click)="toggleDashboardSubmenu()">
        <i class="fa fa-home"></i>&nbsp; Dashboard
        <span class="arrow"><i class="fa fa-angle-down"></i></span>
        <!-- <span class="arrow">{{ dashboardSubmenuVisible ? '▲' : '▼' }}</span> -->
      </a>
      <ul class="submenu" *ngIf="dashboardSubmenuVisible">
        <li><a routerLink="/Default">Default</a></li>
        <li><a routerLink="/E-commerce">E-commerce</a></li>
        <li><a routerLink="/crm">CRM</a></li>
      </ul>
    </li>
    <li>
      <a (click)="togglePagesSubmenu()">
        <i class="fa fa-file"></i>&nbsp; Pages
        <span class="arrow"><i class="fa fa-angle-down"></i></span>
        <!-- <span class="arrow">{{ pagesSubmenuVisible ? '▲' : '▼' }}</span> -->
      </a>
      <ul class="submenu" *ngIf="pagesSubmenuVisible">
        <li><a routerLink="/page1">page 1</a></li>
        <li><a routerLink="/page2">page 2</a></li>
      </ul>
    </li>
    <li><a routerLink="/orders"><i class="fa fa-comments"></i>&nbsp; Chat</a></li>
    <li><a routerLink="/dashboard"><i class="fa fa-calendar"></i>&nbsp; Calendar</a></li>
    <li><a routerLink="/products"><i class="fa fa-envelope"></i>&nbsp; Email</a></li>
  </ul>
</nav>