.sidebar {
    height: 102%;
    background-color: #00233F;
    color: #87A3B3;
    padding-top: 1.25rem;
    position: relative;
  }

  .logo{
    margin-left: 0.6rem;
    padding: 0 16px;
  }
  
  .welcome-image {
    position: fixed;
    bottom: 10%;
    left: 0;
  }
  
  .mat-list-item{
    color: #87A3B3;
  }
  
  .mat-list-base .mat-list-item.mat-list-item-with-avatar {
    top: 1rem;
  }

  .mat-list-item:hover {
    background-color: #013236;
    border-radius: 0.6rem;
    color: #00BECD;
  }
  
  
  