<mat-sidenav-container class="sidebar">
  <mat-sidenav-content>
    <mat-nav-list>
      <div class="logo">
        <img src="../../assets/logo-dark.svg" alt="user-image" width="100">
      </div>
      <mat-list-item (click)="toggleDashboardSubmenu()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line> Dashboards</span>
        <span class="arrow" *ngIf="!dashboardSubmenuVisible"><i class="fa fa-angle-down"></i></span>
      </mat-list-item>
      <mat-list-item (click)="togglePagesSubmenu()">
        <mat-icon mat-list-icon>description</mat-icon>
        <span mat-line>Pages</span>
        <span class="arrow" *ngIf="!pagesSubmenuVisible"><i class="fa fa-angle-down"></i></span>
      </mat-list-item>
      <mat-list-item routerLink="/orders">
        <mat-icon mat-list-icon>chat</mat-icon>
        <span mat-line>Chat</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <span mat-line>Calendar</span>
      </mat-list-item>
      <mat-list-item routerLink="/products">
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-line>Email</span>
      </mat-list-item>
      <div class="welcome-image">
        <img src="../../assets/upgrade-illustration.svg" alt="user-image" width="200">
      </div>
    </mat-nav-list>
  </mat-sidenav-content>
</mat-sidenav-container>
