.sidebar {
    height: 100%;
    background-color: #00233F;
    color: #87A3B3;
    padding-top: 20px;
    position: relative;
  }
  .logo{
    margin-left:10px;
  }
  .arrow{
    padding-right: 0.8rem;
  }
  
  .sidebar ul {
    padding-left: 0;
  }
  
  .sidebar ul li {
    list-style-type: none;
    margin-bottom: 1rem;
  }
  
  .sidebar ul li a {
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    color: #87A3B3;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    background-color: #013236;
    border-radius: 10px;
    color: #00BECD;
  }
  
  .sidebar .arrow {
    float: right;
  }
  
  .sidebar .submenu {
    padding-left: 20px;
  }
  
  .sidebar .submenu li {
    list-style-type: none;
    margin-bottom: 0;
  }
  
  .sidebar .submenu li a {
    font-size: 15px;
    font-weight: lighter;
    padding: 5px 15px;
    color: #87A3B3;
    text-decoration: none;
  }
  
  .sidebar .submenu li a:hover {
    font-weight: bold;
    background-color: #013236;
    border-radius: 10px;
    color: #fff;
  }

  .list-unstyled{
    padding-top: 20px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .sidebar .list-unstyled li a {
    align-items: center;
    padding: 10px;
  }
  
  .sidebar .list-unstyled li a i {
    margin-right: 5px;
  }
  
  .welcome-image {
    position: absolute;
    bottom: 10%;
    left: 0;
  }
  
  
  
  