.mat-card {
  height: 100%;
  padding: 0.625rem;
}

.mat-card-title {
  font-size: 0.9rem;
  font-weight:bold;
  color: #000;
}

.card {
  height: 8.5rem;
  position: relative;

}

.menu-btn {
  font-weight: lighter;
  position: absolute;
  display: flex;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.activity-status{
  text-align: center;
  font-weight: lighter;
  color: #979696;
}

.mat-stroked-button{
  border-color: #42B5D4;
  color: #42B5D4;
  border-radius: 5rem;
  padding: 0 5rem;
}

.mat-stroked-button:hover{
  background-color: #42B5D4;
  color: #fff;
}

.see-more-button{
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0;
}
