.container {
  margin-top: 20px;
  margin: 2rem; 
  width: 100%; 
  height: 40.45rem; 
}

.innerContainer {
  width: 100%;
}
.rowContainer{
  display: flex;
  align-items: flex-start;
}
.tableContainer {
  width: 100%;
  margin: 1rem 1rem 2rem;;
}
.chartContainer { 
  width: 20%;
  height: 50%;
  
}

.content  {
  bottom: 10px;
  margin: 1rem;
  font-size: 18px; 
  font-weight: bold;
  color: black;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.mat-table {
  font-size: 14px;
}

.mat-card {
  height: 100%;
  margin: 0 1rem;
}

th.mat-header-cell, td.mat-cell {
  padding: 10px;
  text-align: left;
}

.recent-orders-header {
  background-color: white; /* Set background color to white */
  font-size: 18px; 
  font-weight: bold;
  color: black;
}

.mat-header-row {
  background-color: #f0f0f0;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:hover {
  background-color: #e0e0e0;
}

.product-cell {
  text-align: center;
}

.product-container {
  display: flex;
  align-items: center;
}

.product-container img {
  margin-right: 10px;
}

.lineChartContainer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
}
.mat-card-title{
  font-size: 18px; 
  font-weight: bold;
  color: black;
}
.tableData{
  overflow: auto;
  max-height: 200px;
}

.lineChartOutercontainer {
  width: 80%;
}
.lineChartInnerContainer {
  width: 100%;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  line-height: 20px;
  padding: 0;
  border-radius: 4px;
}





