.dashboardContainer {
  padding:0.063rem 0 0 2.5rem;
}
.innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mat-mb-1 {
  margin-bottom: 1rem;
}

.tableContainer {
  width: 100%;
  max-height:455px;
  overflow-y: auto; 
  overflow-x: auto; 

}
.chartContainer {
  width: 20%;
}
.dashboardContent {
  bottom: 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
  bottom: 0.6rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
  margin-left: 1.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;

}

.mat-table {
  font-size: 0.875rem;
}

.mat-card {
  height: 100%;
  padding: 0.625rem;
}

.mat-elevation-z8 {
  box-shadow: 0px 0px 0px 0px;
}

th.mat-header-cell,
td.mat-cell {
  padding: 0.625rem;
  text-align: left;
}

tr.mat-row, tr.mat-footer-row {
  height: 4.25rem;
}


.recent-orders-header {
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}

.mat-header-row {
  background-color: #f0f0f0;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-row:hover {
  background-color: #e0e0e0;
}

.product-cell {
  text-align: center;
}

.product-container {
  display: flex;
  align-items: center;
}

.product-container img {
  margin-right: 0.625rem;
}

.lineChartContainer {
  width: 100%;
  height: 50%;
  align-items: flex-start;
}

.mat-card-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}

.lineChartOutercontainer {
  width: 100%;
  display: flex;
}

.lineChartInnerContainer {
  width: 100%;
}

.saleContainer {
  width: 100%;
}

.expenseContainer {
  width: 100%;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  line-height: 1.25rem;
  padding: 0;
  border-radius: 0.50rem;
}

.side-container {
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  display: flex;
  gap: 1.25rem;
  width: 85%;
}

.saleContainer,
.expenseContainer {
  margin-top: 0.313rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card {
  height: 7.4rem;
  position: relative;
  bottom: 0.313rem;

}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-btn {
  font-weight: lighter;
  position: absolute;
  display: flex;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.header-align {
  margin: 0;
}
