<div class="container">
  <div class="innerContainer">
    <div class="dashboardContent">
      <p> Dashboard</p>
    </div>
    <div class="rowContainer">
      <div class="tableContainer">
        <table mat-table class="mat-elevation-z8">
          <ng-container matColumnDef="recentOrders">
            <th mat-header-cell *matHeaderCellDef class="recent-orders-header"> RECENT ORDERS
              <!-- <button class="menu-btn">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button> -->
            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['recentOrders']"></tr>
        </table>
        <table mat-table [dataSource]="filteredProducts && filteredProducts.length > 0 ? filteredProducts : products"
          class="mat-elevation-z8">

          <div class="tableData">
            <ng-container matColumnDef="customerId">
              <th mat-header-cell *matHeaderCellDef> Customer ID </th>
              <td mat-cell *matCellDef="let order"> {{ order.customerId }} </td>
            </ng-container>

            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef> Product Name </th>
              <td mat-cell *matCellDef="let order" class="product-cell">
                <div class="product-container">
                  <img [src]="order.productImage" alt="Product Image" width="25" height="25">
                  <span>{{ order.productName }}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef> Order Date </th>
              <td mat-cell *matCellDef="let order"> {{ order.orderDate }} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let order"> {{ order.price }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let order">
                <button mat-stroked-button *ngIf="!order.editing" [ngStyle]="getStatusButtonStyle(order.status)"
                  (click)="toggleEdit(order)">
                  {{ order.status }}
                </button>
                <select *ngIf="order.editing" [(ngModel)]="order.status" (click)="updateStatus(order)"
                  (change)="updateStatus(order)">
                  <option value="pending">Pending</option>
                  <option value="paid">Paid</option>
                  <option value="shipped">Shipped</option>
                </select>
              </td>
            </ng-container>

            <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef> Customer Name </th>
              <td mat-cell *matCellDef="let order"> {{ order.customerName }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </div>
        </table>
      </div>

      <div class="chartContainer">
        <app-piechart></app-piechart>
      </div>
    </div>
    <div class="wrapper">
      <div class="lineChartOutercontainer">
        <div class="lineChartContainer">
         <app-linechart></app-linechart>
        </div>
      </div>
      <div class="side-container">
        <div class="saleContainer">
          <mat-card class="card mt-5 mb-4">
            <mat-card-header class="header-align">
              <mat-card-title>TOTAL SALES</mat-card-title>
              <button class="menu-btn">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>
            </mat-card-header>
            <div class="content">
              <span>$74.925</span>
            </div>
          </mat-card>
        </div>
        <div class="expenseContainer">
          <mat-card class="card mt-5 mb-4">
            <mat-card-header>
              <mat-card-title>TOTAL EXPENSES</mat-card-title>
              <button class="menu-btn">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>
            </mat-card-header>
            <div class="content">
              <span>$102.925</span>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>